<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title><!--{$title}--></title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap.css" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/about.css" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap-responsive.css" /><!-- 加入后变为响应式布局，去掉变为固定宽度布局 -->
<link rel="stylesheet" href="<!--{$url_prefix}-->css/index1.css" />
<script src="<!--{$url_prefix}-->js/jquery.js"></script>
<script src="<!--{$url_prefix}-->js/bootstrap.js"></script>
<script src="<!--{$url_prefix}-->js/swipe.js"></script>
<!--[if lt IE 9]>
  <script src="/js/html5.js"></script>
<![endif]-->
<style>
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
/* Swipe 2 required styles */
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > figure {
  float:left;
  width:100%;
  position: relative;
}
/* END required styles */

</style>
<body>
<input type="hidden" value="<!--{$count}-->" />
<div class="container clearfix" id="slider">
<div style="max-width:800px; margin:0 auto">
<!--{if $count==1}-->
    <div>
        <ul>
            <!--{foreach from=$images item=value}-->
        		<li><a onclick="return false;"><img src="<!--{$value}-->" style="width:100%;border:none"></a></li>
            <!--{/foreach}-->
        </ul>
    </div>
<!--{else}-->
<div class="swipe">
    <div class="banner swipe-wrap" id="banner_box">
    <ul>
        <!--{foreach from=$images item=value}-->
    		<li><a onclick="return false;"><img src="<!--{$value}-->" style="width:100%;border:none"></a></li>
        <!--{/foreach}-->
    </ul>
    <ol>
    	<!--{foreach from=$images item=value name=ts}-->
    		<!--{if $smarty.foreach.ts.index == 0}-->
    		<li class="on"></li>
    		<!--{else}-->
    		<li></li>
    		<!--{/if}-->
        <!--{/foreach}-->
    </ol>
    </div>
</div>
<!--{/if}-->

<div id="home_button" class="home_button">
	<ul>
        <!--{foreach from=$information item=value}-->
    		<li>
            	<a href="<!--{$value.url}-->">
                    <img src="<!--{$value.image}-->"  />
                    <!--{if $value.name}-->
                	<b><!--{$value.name}--></b>
                    <!--{/if}-->
                </a>
            </li>
        <!--{/foreach}-->
    </ul>
</div>
<!--这个是当用户是从V社区进来才显示的-->
<div id="handover" class="handover" style="display: none;">
	<a href="#">ATT社区>></a>
</div>

<div class="error_pop"></div>
<div id="content" style="display:none;"><!--{$introduction}--></div>
</div>
</div>
<script>
$(document).ready(function(){
	new Swipe(document.getElementById('banner_box'), {
		speed:500,
		auto:3000,
		continuous:false,
		stopPropagation:true,
		disableScroll: true, 
		callback: function(){
			var lis = $(this.element).next("ol").children();
			lis.removeClass("on").eq(this.index).addClass("on"); 
		}
	});
});

var content = $('#content').html();
var html_audio = content.match(/<[embed|embed].*?src=[\'|\"](.*?(?:[\.mp3|\.ogg|\.wav]))[\'|\"].*?[\/]?>/ig);  //content.replace(/<[embed|embed].*?src=[\'|\"](.*?(?:[\.mp3|\.ogg|\.wav]))[\'|\"].*?[\/]?>/ig, ",");

var html = content;
if(html_audio != null){
    if(html_audio.length > 0){
        var img_name = '';
        for(var i=0;i<html_audio.length;i++){
            img_name = html_audio[i].match(/<embed.*src\s*=\s*[\"|\']?\s*([^>\"\'\s]*)/i);
            if(img_name != null){
                if(img_name.length >= 2){
                    html = html.replace(html_audio[i],'<div onclick="bind_play(this,'+i+')" id="audio_div'+i+'" class="audioplay"><img src="/wapi/img/play.png"/><input type="hidden" name="audio_src" value="'+img_name[1]+'" /></div>');
                }
            }else{
                html = content;
            }
        }
    }
}
$('#activity_content').html(html);

function bind_play(obj,num){
    var pli = $(obj);
    var index = $("#activity_content div").index(pli);
    if(pli.attr('class') == 'audioplay playing'){
        pli.removeClass('playing');
        if($('#audio_'+index).get(0)){
            $('#audio_'+index).get(0).pause();
        }
        pli.children('img').attr('src','/wapi/img/play.png');
    }else{
        pli.addClass('playing');
        var a_src = pli.find('input[name=audio_src]').val();
        var point = a_src.lastIndexOf(".");
        var type = a_src.substr(point);
        var a_type = 'mpeg';
        if(type == '.wav'){
            a_type = 'wav';
        }else if(type == '.ogg'){
            a_type = 'ogg';
        }else if(type == '.mp3'){
        }else{
            $('.error_pop').text('您的浏览器不支持播放该歌曲').show();
            return false;
        }

        var playnum = 0;
        for(var a=0;a< $('audio').length;a++){
            if(!$('audio')[a].paused){
                playnum = a;
                $('audio')[a].pause();
                if(a!=num){
                    $('#audio_div'+a).removeClass('playing');
                    $('#audio_div'+a).children('img').attr('src','/wapi/img/play.png');
                }
            }
        }
        var audioHtml = '<audio id="audio_' + index +'" controls="controls" preload="auto"><source src="'+ a_src +'"></source></audio>';

        if(!$('#audio_'+index)[0]){
            $("#audio_div").append(audioHtml);
        }
        $('#audio_'+index).hide();
        pli.children('img').attr('src','/wapi/img/stop.png');
        $('#audio_'+index).get(0).play();
    }
}


</script>

</body>
</html>