<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>Metronic | Form Stuff - Form Validation</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="media/css/select2_metro.css" />

	<link rel="stylesheet" type="text/css" href="media/css/chosen.css" />

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<a class="brand" href="#"><img src="media/image/logo.png" alt="logo" /></a>
				<ul class="nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->

			  <li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<span class="username">东大店</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="#">东大店</a></li>
                            <li><a href="#">东大店</a></li>
						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>
                <li class="user">
                	<a href="javascript:;" class="remove"><i class="icon-user"></i><span class="title">假如我不是静妃<em>注销登录</em></span></a>
                </li>
                <!--商品-->
				<li class="">
					<a href="javascript:;">
					<i class="icon-th"></i> 
					<span class="title">商品</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="#">添加</a>
						</li>
						<li >
							<a href="#">列表</a>
						</li>
						<li >
							<a href="#">评论</a>
						</li>
					</ul>

				</li>
                
                <!--最新活动-->
				<li class="active ">

					<a href="javascript:;">

					<i class="icon-bookmark-empty"></i> 

					<span class="title">最新活动</span>

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li >
							<a href="#">自动回复</a>
						</li>
						<li >
							<a href="#">标题</a>
						</li>
						<li >
							<a href="#">列表呈现已发活动</a>
						</li>
						<li >
							<a href="#">用户回复信息</a>
						</li>
					</ul>

				</li>
                
                <!--物品管理-->
				<li class="">

					<a href="javascript:;">

					<i class="icon-gift"></i> 

					<span class="title">物品管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
						<li >
							<a href="#">列表</a>
						</li>
						<li >
							<a href="#">添加</a>
						</li>					
					</ul>

				</li>

                <!--歌曲管理-->
				<li class="">

					<a href="javascript:;">

					<i class="icon-folder-open"></i> 

					<span class="title">歌曲管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="#">添加新歌</a>

						</li>

						<li >
							<a href="#">列表</a>
						</li>
					</ul>

				</li>
 
                <!--菜单-->
				<li class="">

					<a href="javascript:;">

					<i class="icon-table "></i> 

					<span class="title">菜单</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >
							<a href="#">ATT家园 </a>
						</li>

						<li >
							<a href="#">
							为您推荐</a>
						</li>
						<li >
							<a href="#">
							更多</a>

						</li>
					</ul>

				</li>

                <!--系统设置-->
				<li>

					<a class="active" href="javascript:;">

					<i class="icon-sitemap"></i> 

					<span class="title">企业设置</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="javascript:;">企业介绍</a></li>
                        <li><a href="#">门店展示</a></li>
                        <li><a href="#">一键预订</a></li>
                        <li><a href="#">位置</a></li>
					</ul>

				</li>


			</ul>

			<!-- END SIDEBAR MENU -->

		</div>		

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

			  <div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
                           砸金蛋
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">东大店</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">物品管理</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">物品添加</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN VALIDATION STATES-->

						<div class="portlet box purple">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>创建砸金蛋</div>

							</div>

							<div class="portlet-body form yizhan egg">

								<!--创建砸金蛋开始-->
                                <div class="goods_add">
								<form action="#" id="form_sample_1" class="form-horizontal">
                                    
									<div class="alert alert-error hide">

										<button class="close" data-dismiss="alert"></button>

										You have some form errors. Please check below.

									</div>

									<div class="alert alert-success hide">

										<button class="close" data-dismiss="alert"></button>

										Your form validation is successful!

									</div>
                                    <div class="control-group">

										<label class="control-label">参与者</label>

										<div class="controls">
                                           <input name="" type="checkbox" value="">注册用户
										</div>
                                        </div>
                                    <div class="control-group">

										<label class="control-label">参与次数<span class="required">*</span></label>

										<div class="controls clearfix">
											<ul class="degree">
                                            	<li><input name="" type="checkbox" value="">每人每天最多参与次数：<input class="span6 m-wrap" name="" type="text"></li>
                                                <li><input name="" type="checkbox" value="">每人总共参与次数：<input class="span6 m-wrap"  name="" type="text"></li>
                                            </ul>
										</div>
                                        </div>
                                     <div class="control-group">

										<label class="control-label">预计人数<span class="required">*</span></label>

										<div class="controls">
                                            <input class="span6 m-wrap time" name="" type="text"><b class="hint">位</b>
										</div>
                                        </div>  
                                    <div class="control-group">

										<label class="control-label">预计活动时间<span class="required">*</span></label>

										<div class="controls">
                                            <input class="span6 m-wrap time" name="" type="text"><b class="hint">天</b>
										</div>

									</div>
									<div class="control-group">

										<label class="control-label">是否绑定电子券<span class="required">*</span></label>

										<div class="controls">
                                        	<ul class="select">
                                                <li><input name="" type="radio" value="">是 </li>
                                                <li><input name="" type="radio" value="">否</li>
                                            </ul>
										</div>

									</div>
                                    <div class="control-group clearfix">

										<label class="control-label">电子券<span class="required">*</span></label>

										<div class="controls">
                                        	<div class="e-coupon clearfix">
                                                <a class="name" href="#">介里是电子券的名称来着</a><a class="increase" href="#">增加</a>
                                                <!--鼠标指向选择电子券-->
                                                <ul class="result hidden">
                                                    <li><a href="#">介里是电子券的名称来着</a></li>
                                                    <li><a href="#">介里是电子券的名称来着</a></li>
                                                    <li><a href="#">介里是电子券的名称来着</a></li>
                                                </ul>
                                            </div>
                                            <!--选择电子券后的显示-->
                                            <div class="show clearfix">
                                                <ul>
                                               	    <li class="headline clearfix"><span class="name">名称</span><span>总数</span><span>操作</span></li>
                                                	<li class="clearfix"><span class="name">介里就是名称名称</span><span>85</span><span><a href="#">删除</a></span></li>
                                                    <li class="clearfix"><span class="name">介里就是名称名称</span><span>85</span><span><a href="#">删除</a></span></li>
                                                    <li class="clearfix"><span class="name">介里就是名称名称</span><span>85</span><span><a href="#">删除</a></span></li>
                                                </ul>
                                            </div>
										</div>

									</div>
                                    <div class="control-group">

										<label class="control-label">完成时间<span class="required">*</span></label>

										<div class="controls">
                                            <input class="span6 m-wrap time" name="" type="text"><b class="hint">秒</b>
										</div>

									</div>
                                    
                                    <div class="control-group clearfix">

										<label class="control-label">成功提示语<span class="required">*</span></label>

										<div class="controls">
                                        	<textarea class="span6 m-wrap" name="" cols="" rows=""></textarea>

										</div>

									</div>
                                    <div class="control-group clearfix">

										<label class="control-label">失败提示语<span class="required">*</span></label>

										<div class="controls">
                                        	<textarea class="span6 m-wrap" name="" cols="" rows=""></textarea>

										</div>

									</div>
                                    <div class="control-group">

										<label class="control-label">中奖机率</label>

										<div class="controls">25%</div>

									</div>

									<div class="form-actions">

										<button type="submit" class="btn purple">保存</button>
									
									</div>

								</form>
                                </div>
                                <!--创建砸金蛋结束-->
							</div>

						</div>

						<!-- END VALIDATION STATES-->
						<!--点击电子券弹出框开始-->
                        <div class="capacity">
                            <p>电子券：某某电子券</p>
                            <p class="red">获得条件</p>
                            <div class="condition">
                                <ul>
                                    <li><span>最多获得次数：</span><input class="span6 m-wrap" name="" type="text"><b>次</b></li>
                                </ul>
                            </div>
                            <div class="form-actions">
                                <button class="btn green">确定</button><button class="btn">取消</button>
                            </div>
                        </div>
                        <div id="pop_up"></div>
                    <!--点击电子券弹出框结束-->
				  </div>

			  </div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2013 &copy; Metronic by keenthemes.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="media/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="media/js/additional-methods.min.js"></script>

	<script type="text/javascript" src="media/js/select2.min.js"></script>

	<script type="text/javascript" src="media/js/chosen.jquery.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<script src="media/js/app.js"></script>

	<script src="media/js/form-validation.js"></script> 

	<!-- END PAGE LEVEL STYLES -->    

	<script>

		jQuery(document).ready(function() {   

		   // initiate layout and plugins

		   App.init();

		   FormValidation.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->   

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>