<!--{include file="header.html"}-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<!--{include file="top.html"}-->

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid">

		<!--{include file="menu.html"}-->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- 右边开始-->

			<div class="container-fluid" >

				<!--右边标题导航开始-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<!--{include file="nav.html"}-->

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>
				<!--右边标题导航结束-->
                <!--右边中介内容开始-->
                <div class="content" >
                    <div class="portlet box blue">
							<!--内容-->
							<!--表格内容-->
							<div class="portlet-body fuelux ">
                               <!--活动列表开始-->
                            	<div class="activity">
								<table width="100%">
                                    <tbody>
                                    	<tr class="big_title">
                                                <td class="id">id</td>
                                                <td class="title">标题</td>
                                                <td class="activity_content">内容</td>
                                                <td>发布时间</td>
                                                <td>状态</td>
                                                <td>权重</td>
                                                <td>操作</td>
                                            </tr>
                                        <tr>
                                            <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td class="activity_content">
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">有效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                        <tr class="bg">
                                           <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td>
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">无效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                         <tr>
                                            <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td class="activity_content">
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">有效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                        <tr class="bg">
                                           <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td>
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">无效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                          <tr>
                                            <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td class="activity_content">
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">有效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                        <tr class="bg">
                                           <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td>
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">无效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                          <tr>
                                            <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td class="activity_content">
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">有效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                        <tr class="bg">
                                           <td class="id">0304</td>
                                            <td class="title">我非歌手大型K歌赛</td>
                                            <td>
                                               	<div class="pic"><img src="media/image/3.jpg"></div>
                                                <div class="describe">aaaaa</div>
                                            </td>
                                            <td>2013-9-5</td>
                                            <td><a href="#">无效</a></td>
                                            <td><input class="m-wrap medium" name="" type="text" value="一级权重"></td>
                                            <td><a class="compile" href="#">编辑</a><a class="delete" href="#">删除</a></td>
                                        </tr>
                                        
                                    </tbody>
                                    </table>
                                </div>
                                <!--商品列表结束-->
							</div>

						</div>
                </div>
                <!--右边中介内容结束-->
			</div>

			<!-- 右边结束--> 

		</div>

		<!-- END PAGE -->    

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<!--{include file="footer.html"}-->

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script src="media/js/bootstrap-tree.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="media/js/app.js"></script>

	<script src="media/js/ui-tree.js"></script>     

	<!-- END PAGE LEVEL SCRIPTS -->

	<script>

		jQuery(document).ready(function() {

		   App.init();

		   UITree.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>