<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>index页面</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap.css" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap-responsive.css" /><!-- 加入后变为响应式布局，去掉变为固定宽度布局 -->
<script src="<!--{$url_prefix}-->js/jquery.js"></script>
<script src="<!--{$url_prefix}-->js/bootstrap.js"></script>

<!--[if lt IE 9]>
  <script src="<!--{$url_prefix}-->js/html5.js"></script>
<![endif]-->
<style>
<!--
.container ol li{
	line-height: 40px; font-size:large; font-weight: bold;
}
-->
</style>
</head>
<body>
    <div class="container">
		<ol>
			<li><a href="<!--{$url}-->/home/consume/1">积分商城</a></li>
			<li><a href="<!--{$url}-->/home/foods/1/2">饮品/美食列表</a></li>
			<li><a href="<!--{$url}-->/home/music/1">热歌推荐排行</a></li>
            <li><a href="<!--{$url}-->/home/about">企业简介</a></li>
            <li><a href="<!--{$url}-->/home/about_shop">门店简介</a></li>
			<li><a href="<!--{$url}-->/home/setmeal">超值套餐</a></li>
			<li><a href="<!--{$url}-->/home/active_details">活动详情</a></li>
			<li><a href="<!--{$url}-->/home/member_show/?openid=123">会员卡</a></li>
			<li><a href="<!--{$url}-->/home/member_show2">会员卡2</a></li>
			<li><a href="<!--{$url}-->/home/member11">本地会员卡</a></li>
			<li><a href="<!--{$url}-->/home/test_select">测试下拉</a></li>
			<li><a href="<!--{$url}-->/home/member_show">会员卡呈现</a></li>
			<li><a href="<!--{$url}-->/home/index1">秀丽东方微官网首页</a></li>
			<li><a href="<!--{$url}-->/home/index2">秀丽东方微官网活动列表页</a></li>
            <li><a href="<!--{$url}-->/home/music_type/1/18/18">歌曲分类列表页</a></li>
            <li><a href="<!--{$url}-->/activity/egg">砸金蛋活动</a></li>
            <li><a href="<!--{$url}-->/activity/one_stop">互动游戏,一站到底，首页</a></li>
            <li><a href="<!--{$url}-->/activity/gifts">互动游戏,我的礼品页,礼品展示</a></li>
            <li><a href="http://wx.dev.hipigo.cn/home/index/v">短域名测试</a></li>
        <li><a href="http://wx.dev.hipigo.cn/wapi/3/0/community/detail?oid=1">哎呀</a></li>
		</ol>				
    </div>
</body>
</html>
