<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title><!--{$title}--></title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap.css" />
<link rel="stylesheet" href="<!--{$url_prefix}-->css/bootstrap-responsive.css" /><!-- 加入后变为响应式布局，去掉变为固定宽度布局 -->
<link rel="stylesheet" href="<!--{$url_prefix}-->css/index2.css" />
<script src="<!--{$url_prefix}-->js/jquery.js"></script>
<script src="<!--{$url_prefix}-->js/bootstrap.js"></script>
<script src="<!--{$url_prefix}-->js/swipe.js"></script>



<body>
<div class="main">
<div class="container clearfix">
  <div class="templet_container01">
    <ul>
      <li>
        <a href="#">
          <p class="extend_pic"><img src="/wapi/img/banner03.jpg"/></p>
          <p class="extend_title">顺流直下，在水波的包裹中飞速滑动</p>
          <p class="full_text">查看全文&gt;&gt;</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="extend_pic"><img src="/wapi/img/banner03.jpg"/></p>
          <p class="extend_title">体验被“龙卷风”吸入20多米的喇叭型滑道</p>
          <p class="full_text">查看全文&gt;&gt;</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="extend_pic"><img src="/wapi/img/banner03.jpg"/></p>
          <p class="extend_title">顺流直下，在水波的包裹中飞速滑动</p>
          <p class="full_text">查看全文&gt;&gt;</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="extend_pic"><img src="/wapi/img/banner03.jpg"/></p>
          <p class="extend_title">体验被“龙卷风”吸入20多米的喇叭型滑道</p>
          <p class="full_text">查看全文&gt;&gt;</p>
        </a>
      </li>      
    </ul>
  </div>
</div>

</div>


</body>
</html>