
@charset "utf-8";
/* CSS Document */

body{
	background:#edebec;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; color: #333;}
	
* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ol, ul, li {
	list-style: none;
	padding:0;
	margin:0;
}
#reclassify{
	 margin:0 auto; max-width: 640px; min-width: 320px;overflow-x: hidden;}
#reclassify .time{
    background: #53c879; border-radius: 12px; 
    color: #FFFFFF; display: block; float: left;
    font-size: 12px; margin: 10px 0; padding: 10px; position: relative; width: 19.5%;
}

#reclassify .time .timey {
    color: #FFFFFF;
    display: block;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 12px;
    margin: 0;
}
#reclassify .time .timed {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    margin: 0;
}
#reclassify .time .timex {
    background:#53c879;
    border-radius: 2px;
    height: 12px;
    position: absolute;
    right: -4px;
    top: 10px;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);
    width: 12px;
}

#reclassify li{
	margin: 20px 10px;}
	
#reclassify li{	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;-o-border-radius:12px;}

#reclassify .media {
    background:url(../img/bg_list.png);width: 77.5%;border:#d3d3d3 1px solid;
	border-radius: 12px;-webkit-border-radius: 12px;-moz-border-radius: 12px;-o-border-radius: 12px; 
	float: left;margin: 0 0 0 10px; overflow:hidden}
	
#reclassify .media .mediaHead {
    border-bottom: 0 solid #D3D8DC;
    color: #000000;
    font-size: 1.15em;
    padding: 15px 10px 8px;
}




#reclassify .media .mediaImg {
    margin: 0 10px;
    min-width: 198px;
    overflow: hidden;
    padding: 0;
    position: relative;
}



#reclassify .media .mediaImg img {
    width: 100%;
}



#reclassify .mediaContentP {
    border-bottom: 1px solid #d3d3d3;
    margin: 10px 10px 0;
    word-break: normal;
}
#reclassify .mediaContent {
    color: #222222;
    font-size: 16px;
    padding: 0 0 10px;
    text-align: left;
}


#reclassify .media .mediaFooter {
    border-radius: 0 0 12px 12px;
    color: #666666;
    padding: 0 10px;
}



#reclassify .media .mediaFooter .mesgIcon {
    margin: 18px 3px 0 0;
}
#reclassify .media .mesgIcon {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight:900; float:right;
    display: inline-block;
    height: 19px;
    margin: 8px 0 -2px 4px;
    width: 10px;
}

.clr {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

/*templet_index*/
.templet_container01{
  background: #f4f4f4;padding:8px;border-radius: 2px;margin: 8px 10px 0;
}
.templet_container01 li{
  background: #fff;padding:10px;border-radius: 2px;margin-bottom: 10px;
}
.templet_container01 li:last-child{
  margin-bottom: 0;
}
.templet_container01 li a:hover,.templet_container01 li a:focus{
  color: #333;
}
.templet_container01 li p img{
  width: 100%;
}
.extend_title{
  font-size: 1.15rem;padding: 10px 0;
}
.full_text{
  color: #8cd720; font-size: 1rem; text-align: right;
}




