<!--{include file="header.html"}-->
<section id="my_activity_section" class="active">

<!--{include file="nav.tpl"}-->

<article id="my_activity_container" class="active" data-scroll="true">
<div class="my_activitylist_container">

<div class="enter_search">
<div class="search_input relative">
<input type="text" placeholder="输入关键字搜索" class="left">
<a class="searchbutton right"><i class="icon search nofloat"></i></a>
</div>
</div>

<ul class="resources_list"></ul>

</div>
</article>

<!--下拉-->
<div class="pull_down" style="display: none;">
<ul>
<li><a href="javascript: void(0);" class="haveback">全部</a></li>
<li><a href="javascript: void(0);" class="haveback">我发布的</a></li>
<li><a href="javascript: void(0);" class="haveback">我参加的</a></li>
</ul>
</div>

</section>

<!--{include file="footer.html"}-->