<!--{include file="header.html"}-->
<script>
    var url = '/wapi/<!--{$bid}-->/<!--{$sid}-->';
</script>
  <section id="forgot_password_section" class="active">
  <!---->
      <!--{include file="nav.tpl"}-->
  <!---->
    <article id="three_container" class="active" data-scroll="true" >
    <!---->
      <div class="three_list_container">
        <ul>
          <li class="clearfix">
            <span class="iconfont icon iconfont_4 left">&#58906;</span><input type="password" placeholder="请输入你的原密码" class="left" id="oldPWD" onfocus="restyle(this)"  onblur="chekcpwd(this)"/>
          </li>
          <li class="clearfix">
            <span class="iconfont icon iconfont_4 left">&#58906;</span><input type="password" placeholder="请输入你的新密码" class="left" id="newPWD" onfocus="restyle(this)"  onblur="chekcpwd(this)"/>
          </li>
          <li class="clearfix">
            <span class="iconfont icon iconfont_4 left">&#58906;</span><input type="password" placeholder="再次输入你的新密码" class="left" id="newPWDC"  onfocus="restyle(this)"  onblur="chekcpwd(this)"/>
          </li>
        </ul>
      </div>
    </article>
  </section>
<div class="instant_tip" style="display:none;"><img src="<!--{$url_prefix}-->img/loading.gif"/>提交中...</div>
<script>
    remove_share();
</script>
<!--{include file="footer.html"}-->