<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><!--{if $meta_title}--><!--{$title}--> | <!--{$meta_title}--><!--{else}--><!--{$title}--><!--{/if}--></title>
<meta name="keywords" content="<!--{if $meta_keywords}--><!--{$title}-->,<!--{$meta_keywords}--><!--{else}--><!--{$title}-->,活动, 活动网, 活动平台, 户外活动, 公益活动, 同城活动, 校园活动, 文化活动, 活动策划, 拓展活动, 活动推广, 活动发布<!--{/if}-->" />
<meta name="description" content="<!--{if $meta_description}--><!--{$title}-->,<!--{$meta_description}--><!--{else}-->嗨皮GO , 快乐去活动，一起Hipigo！喜爱活动人的家园；活动组织者的助手和专家。最好的活动网站，最好的活动推广平台，最大的活动网站，最好活动分享网站。发起组织活动的方案解决系统；宣传分享活动的平台。活动APP等您下载使用。<!--{/if}-->" />

<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<!-- 加载 CSS -->
<!--{$CSS}-->

<!-- 加载 JS -->
<!--{$JS}-->

<script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#5bb6b18ba197bee47ffea82148f40af7"></script><script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '9e6fc719ce6697210e7c1014'});</script>
<script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#251d0f6478c926fa7859734e6e0a07e0"></script><script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '922a6255abed024fbf2cdfa2'});</script>
</head>
<body>
<div id="section_container">