<!--{include file="header.html"}-->
<section id="resource_section" class="active">

<!--{include file="nav.tpl"}-->

<article id="resource_container" class="active" data-scroll="true">
<div class="resource_list_container">

<div class="enter_search">
<div class="search_input relative">
<input type="text" placeholder="输入关键字搜索" class="left" />
<a class="searchbutton right"><i class="icon search nofloat"></i></a>
</div>
</div>

<ul class="resources_list"></ul>

</div>
</article>

</section>
<!--{include file="footer.html"}-->