<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我和<!--{$name}-->"有一腿"</title>
<link href="/wapi/css1/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--活动流程S-->
<div class="share">
<p><!--{$title}--></p>
<img src="<!--{$image}-->">
    <p>快来挑战“有一腿”，垂涎堂美味<span style="color: #f00;font-size: 1.8rem;">免费送！</span></p>
</div>
<!--{if $oid != $id_open}-->
<a style="width: 40%; float: right; margin-right: 5%;" class="button" href="http://mp.weixin.qq.com/s?__biz=MjM5MjQ1MDA5OQ==&mid=201006895&idx=1&sn=d715048acefaabecee8f33ca8bb1bfcb&key=532b2d992c52d5bffbd31ae74882d582cfa43b90975f7f16eb2c778306682c87483e0ee08f932b7bd40ef35353bf0396&ascene=7&uin=MTQ1NDQ4OTE4Mw%3D%3D&devicetype=android-17&version=25020031&pass_ticket=hqZ88F%2FNdz2jYfernhLcQ%2B3s%2F4%2F1fdBqKcyGxG3dtym4v2z0pY3vV2MagFq1a1ZM">
    <img src="/wapi/img/ico_triangle.png"/>
    <span style="margin-bottom: 20px;">我要参加</span>
</a>
<!--{/if}-->
<!--活动流程E-->

</body>
</html>
